/* Variable I will use in the web */

:root{
    --main-color: #f3882f;
    --secondary-color: rgb(250, 132, 42);
    --sideBar-color: #fbf4ee;
    --light-secondary-color: #f58e40;
    --common-color: rgb(112, 111, 111);
    --link-light-color: #f39b57;
    --text-common-color: #e2dfde;
    --slide-common-color: #949291;
}

/* The scroll behaviour for the sections teleport */

html{
    scroll-behavior: smooth;
}

/* Making the components a manual margin and padding */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    list-style: none;
    text-decoration: none;
    color: #646b96;
}

body{
    background: rgb(246, 236, 227);
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 70px;
    overflow-x: hidden;
}

#mainContent{
    width: 100%;
    height: auto;
}

.hide{
    display: none;
}

.hero{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}.hero .logo{
    animation: jumping .4s ease-in-out infinite;
    cursor: auto;
}.hero .logo img{
    width: 14%;
}

.glows{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    top: -70px;
}.glows .glow{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background: var(--glow-color);
    box-shadow: 0 0 50px var(--glow-color),
                        0 0 700px rgb(14, 214, 241);
    filter: blur(120px);
    position: absolute;
}.glows .first{
    right: -20rem;
    top: -20rem;
}.glows .second{
    left: -20rem;
    top: -20rem;
}.glows .third{
    left: -20rem;
    bottom: -20rem;
}.glows .fourth {
    right: -20rem;
    bottom: -20rem;
}


/* Jumping Animaiton */
@keyframes jumping {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px); 
    }100%{
        transform: translateY(-10px);
    }
}


.navbar {
    width: 100%;
    height: 70px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--sideBar-color);
    border-bottom: 2px solid rgba(128, 128, 128, 0.082);
    z-index: 10;
}

.navbar .nav-links{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;

    gap: 50px;
}
.navbar .nav-links li a{
    font-weight: 600;
    transition: .5s ease-in-out;
}
.navbar .nav-links li{
    transition: .2s ease-in-out;
}
.navbar .nav-links li:hover{
    transform: scale(1.1);
}
.navbar .nav-links li a.active{
    color: var(--main-color);
}

.sideBar{
    width: min(20rem, 20vw);
    background: var(--sideBar-color);
    box-shadow: 10px 0 20px rgba(128, 128, 128, 0.412);
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 2rem 0;
    overflow: hidden;
    position: fixed;
}
.logo{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    user-select: none;
}
.logo h1{
    font-size: 24px;
    font-weight: 600;
    color: rgb(27, 23, 18);
    text-align: center;
}
.logo h1 span{
    color: var(--main-color);
}

.sideBar .sidebar-links{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    gap: .4rem;
    margin-right: 5px;

    user-select: none;
}.sideBar .sidebar-links a{
    width: 100%;
    background: transparent;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--common-color);
    transition: .4s ease-in-out;
    border: 2px solid var(--sideBar-color);
}.sideBar .sidebar-links a:hover{
    border: 2px solid rgb(250, 169, 18);
}
.sideBar .sidebar-links .selected-ul{
    background: var(--secondary-color);
    color: white;
}.sideBar .sidebar-links .selected-ul:hover{
    color: white;
}

.sideBar .sidebar-links a i{
    margin-right: 20px;
    transition: .3s ease-in-out;
}

.sideBar .explore{
    width: 90%;
    height: 18.4rem;
    /* background-image: url(Images/home.png); */
    background: linear-gradient(to top,#000000b4,transparent), url(Images/home.png);
    background-size: cover;
    margin: 0 20px 20px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    left: 10px;
}.sideBar .explore .content h2{
    margin-top: 6rem;
    font-size: 19px;
    font-weight: 600;
    color: var(--text-common-color);
}.sideBar .explore .content .explore-btn{
    padding: 10px 20px;
    background: var(--secondary-color);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: .6s ease-in-out;
    position: absolute;
    bottom: 20px;
    font-weight: 700;
    color: white;
}.sideBar .explore .content .explore-btn:hover{
    transform: translateY(-10px);
    background: var(--light-secondary-color);
}

.sideBar .line{
    width: 100%;
    height: 1px;
    background: #ece6e6;
    /* margin: 2.5rem 0; */
}

.sideBar .profile-sec{
    width: 90%;
    height: auto;
    padding: 20px 10px;
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* background: white; */
    border-radius: 20px;
}
.sideBar .profile-sec img{
    width: 30%;
    border-radius: 50%;
    cursor: pointer;
}.sideBar .profile-sec .info{
    width: 70%;
}.sideBar .profile-sec .info *{
    color: var(--secondary-color);
}.sideBar .profile-sec .info h3{
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}.sideBar .profile-sec .info h4{
    cursor: pointer;
    font-size: 13px;
    color: rgb(88, 86, 86);
}

/* ---------- The Main Section Code ---------- */

.main , .Automation, .Energy, .Security, .settings{
    width: clamp(700px,80%,1800px);
    height: 100%;
    background: transparent;
    position: relative;
    padding: 2rem 2.1rem;
    margin-left: min(max(20vw,18rem), 20vw);
}.main .header-bar{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.main .header-bar .left .welcome p{
    color: var(--common-color);
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
}.navbar .search-section{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2.6rem;
}

/* The Search Sec */
.navbar .search-section .search{
    width: 20vw;
    height: auto;
    background: white;
    padding: 8px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.navbar .search-section .search i{
    padding: 5px;
    cursor: pointer;
}.navbar .search-section .search input{
    width: 93%;
    padding: 5px 10px;
    border: none;
    background: transparent;
    outline: none;
}

/* The Notifaction Sec */
.navbar .search-section .notifacations{
    padding: 12px;
    background: #f7f6f6ce;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}.navbar .search-section .notifacations .numb-nf{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* Status Bar Sec */

.main .status-bar{
    width: 100%;
    height: auto;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}.main .status-bar .card{
    height: 10rem;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.308)
}.main .status-bar .Temperature{
    background: linear-gradient(45deg,rgb(244, 113, 48) ,white 150%);
}.main .status-bar .Lights-on {
    background: rgb(252, 230, 210);
}.main .status-bar .Energy-usage {
    background: rgb(254, 214, 189);
}.main .status-bar .Security-card {
    background: linear-gradient(45deg, rgb(135,84,58) , white 240%);
}

.main .status-bar .card .left{
    width: 80%;
    height: auto;
}

.main .status-bar .card .left h4{
    color: var(--status-color);
    font-weight: 600;
    font-size: 14px;
}

.main .status-bar .card .left h2{
    color: var(--status-color);
    margin: 5px 0;
}.main .status-bar .card .left p{
    color: var(--status-color);
    font-size: 14px;
    font-weight: 600;
}

.main .status-bar .card .right{
    position: absolute;
    right: 20px;
    top: 20%;
    width: 50px;
    background: white;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .status-bar .card .right i{
    font-size: 23px;
}.main .status-bar .card .chart{
    position: absolute;
    bottom: 10px;
    width: 85%;
}.main .status-bar .card .chart::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #fffefe;
    position: absolute;
    bottom: -1px;
}

/* Medium Section */
.Under-Sec{
    width: 100%;
    position: relative;
    height: auto;

    display: grid;
    grid-template-columns: 3fr 1.5fr;
    
    column-gap: 20px;
}.Under-Sec .Rooms, .Quick-ctl, .Recent-Activities{
    width: 100%;
    height: 21rem;
    background: rgb(249, 241, 235);
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 10px -10px 30px rgba(128, 128, 128, 0.116);
    padding: 1rem 1.4rem;
    position: relative;
}.Under-Sec .Rooms,.Quick-ctl{
    margin-bottom: 30px;
}
 
.Under-Sec .Rooms .head , .energy-usage .head, .Devices .Rooms .head{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.Under-Sec .Rooms .head h2, .Quick-ctl h2 , .energy-usage .head h2 , .Recent-Activities h2, .Devices .Rooms h2{
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease-in-out;
}.Under-Sec .Rooms .head h2:hover, .Quick-ctl h2:hover, .energy-usage .head h2:hover, .Devices .Rooms h2:hover{
    color: var(--main-color);
}.Under-Sec .Rooms .head a, .Devices .Rooms a{
    font-size: 13px;
    font-weight: 700;
    transition: .5s ease-in-out;
    color: var(--main-color);
}

.dropdown{
    width: 120px;
    background: transparent;
    border: rgba(71, 69, 69, 0.205) 1px solid;
    border-radius: 10px;
    position: relative;
}

.menu {
    background: rgb(249, 241, 235);
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .14);
    display: none;
    position: absolute;
    z-index: 100;
    overflow: hidden;
}

.menu li {
    padding: 15px;
    transition: .3s;
    cursor: pointer;
    font-size: 15px;
}.menu li:last-child{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}.menu li:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.menu li:hover {
    background: #f3882f;
    color: white;
}

.Under-Sec .Rooms .content{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 14px;
}

.Under-Sec .Rooms .content .Groups .room{
    width: 100%;
    height: 13rem;
    background: white;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    margin-top: 20px;
    transition: .4s ease-in-out;
}.Under-Sec .Rooms .content .Groups .room:hover{
    transform: translateY(-10px);
}
.Under-Sec .Rooms .content .Groups .room .img{
    position: relative;
    width: 100%;
    height: 10rem;
    background-size: cover;
    border-radius: 20px;
}.Under-Sec .Rooms .content .Groups .room .img img{
    width: 100%;
    height: 8rem;
    border-radius: 14px;
}
.Under-Sec .Rooms .content .Groups .room .img .icon{
    position: absolute;
    /* inset: 0; */
    left: 10px;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}.Under-Sec .Rooms .content .Groups .room .img .icon i{
    font-size: 20px;
}.Under-Sec .Rooms .content .Groups .room .info{
    padding: 20px;
}.Under-Sec .Rooms .content .Groups .room .info h3{
    font-size: 14px;
}.Under-Sec .Rooms .content .Groups .room .info h4{
    font-size: 12px;
    margin-top: 4px;
    color: var(--common-color);
}

/* Quick section */
.Quick-ctl {
    height: 23rem;
}
.Quick-ctl .Controls{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 20px;
}.Quick-ctl .Controls .control{
    width: 100%;
    height: 55px;
    padding: 0 10px 18px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}.Quick-ctl .Controls .control i{
    font-size: max(1.4vw,17px);
    background: white;
    padding: 13px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    width: max(3vw,40px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}.Quick-ctl .Controls .control h3{
    font-size: clamp(14px,1vw,40px);
    position: absolute;
    left: 55px;
    cursor: pointer;
}
.Quick-ctl .Controls .control .status{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: start;
    padding: 0 55px;
    color: var(--common-color);
    left: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: max(20px,min(4.2vw,90px));
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color .4s ease;
}

.slider:before {
    content: "";

    position: absolute;
    height: 34px;
    width: 32px;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked+.slider {
    background-color: var(--main-color);
}

input:checked+.slider:before {
    transform: translateX(calc(max(20px, min(4.2vw, 70px)) - 30px));
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.turn-off{
    position: absolute;
    right: 35px;
    padding: 7px 20px;
    border-radius: 10px;
    border: 1px solid var(--slide-common-color);
    outline: none;
    background: transparent;
    text-align: center;
    color: rgb(231, 113, 22);
    font-weight: 700;
    cursor: pointer;
    transition: .4s ease-in-out;
}.turn-off:hover{
    transform: translateY(-5px);
}

.Quick-ctl {
    height: 22rem;
    margin-bottom: 0;
}


.roomsSwiper {
    width: 100%;
    height: 100%;
    padding-bottom: 35px;
    position: relative;
}

.roomsSwiper .swiper-slide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Groups {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #d3d3d3;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}




.selected{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
    background: transparent;
    z-index: 2;
}.selected span{
    color: #2c2c2b;
}.selected #down{
    display: none;
}











@keyframes enterRight {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes enterLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes exitLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-200px);
    }
}

@keyframes exitRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(200px);
    }
}


.dropdown-show{
    /* display: block; */
    animation: dropdown-show .5s ease-in-out forwards;
}

.dropdown-hide{
    animation: dropdown-hide .5s ease-in-out forwards;
}

@keyframes dropdown-show{
    from{
        opacity: 0;
        height: 10px;   
    }to{
        opacity: 1;
        height: 141px;
    }
}

@keyframes dropdown-hide{
    from {
        opacity: 1;
        height: 141px;
    }

    to {
        opacity: 0;
        height: 10px;
    }
}



/* Energy Card Section */

.energy-usage{
    width: 100%;
    height: 30.4vh;
    position: relative;
    overflow: auto;
    background: rgb(249, 241, 235);
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 10px -10px 30px rgba(128, 128, 128, 0.116);
    padding: 1rem 1.4rem 0 1.4rem;
    position: relative;
    box-shadow: 10px 0px 50px rgba(128, 128, 128, 0.116);
    bottom: 16px;
}

.energy-card{
    width: 100%;
    height: 70%;
    
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);

    overflow: hidden;
}.energy-card .chart-box{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}.energy-card .chart-box .energyChart{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
}.energy-card .circle-box .circle-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    position: relative;

    margin-top: 0;
    bottom: 0;
    right: 0;
}
.energy-card .circle-box .circle-container .energyCircle{
    width: 100%; 
    height: 100%; 
    padding-right: 0;
}
.energy-card .circle-box{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #000; */
    margin-top: 40px;
    position: relative;
    bottom: 10px;
    right: 0;
}.energy-card .circle-box .compare{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d37b38cc;
}.energy-card .circle-box .compare span{
    color: #ff7504;
    margin-right: 3px;
    font-weight: 700;
}

.chart-box,
.circle-box {
    min-width: 0;
    min-height: 0;
}

/* The Recent Activity Section */

.Recent-Activities {
    height: 29vh;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.26);
}

.Recent-Activities .Controls {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 20px;
}

.Recent-Activities .Controls .control {
    width: 100%;
    height: 55px;
    padding: 0 10px 18px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.Recent-Activities .Controls .control i {
    font-size: 17px;
    padding: 13px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}.Recent-Activities .Controls .control .light{
    background: rgb(249, 134, 70);
}.Recent-Activities .Controls .control .broom {
    background: rgb(217, 227, 240);
}.Recent-Activities .Controls .control .lock {
    background: rgb(220, 229, 212);
}

.Recent-Activities .Controls .control h3 {
    font-size: 12.5px;
    position: absolute;
    left: 55px;
    cursor: pointer;
    line-height: 17px;
}

.Recent-Activities .Controls .control .time {
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: start;
    padding: 0 55px;
    color: var(--common-color);
    left: 1px;
}

/* Rooms controlling section */
.Rooms-Section{
    margin-left: min(18rem, 25vw);
    width: calc(100% - min(19rem, 26vw));
    padding: 2rem 5vw;
}
.Rooms-Controller{
    width: 100%;
    box-sizing: border-box;

    background: #fafafa;
    min-height: 100%;
    padding: 1.4rem 2.1rem 2rem 2.1rem;
    border-radius: 20px;
    position: relative;
    
}.Rooms-Controller .title{
    cursor: pointer;
    text-align: center;
    font-size: 2.7vw;
    transition: .2s ease-in-out;
    color: var(--main-color);
    transition: .4s ease-in-out color;
}.Rooms-Controller .title:hover{
    color: #f56f02;
}.Rooms-Controller .controls .room-controller{
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(128, 128, 128, 0.253);
    padding: 20px 10px 50px 20px;
}.Rooms-Controller .controls .room-controller h3{
    cursor: pointer;
    font-size: 1.5vw;
    transition: .5s ease-in-out;
}.Rooms-Controller .controls .room-controller h3:hover{
    color: #f39b57;
}.Rooms-Controller .controls .room-controller .control{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.Rooms-Controller .controls .room-controller .control span{
    font-size: 1.3vw;
    user-select: none;
    cursor: pointer;
}.Rooms-Controller .turn-off{
    margin-right: 20px;
}


/* Devices Section */

.Devices{
        margin-left: min(18rem, 25vw);
        width: clamp(700px,77%,1400px);
        padding: 2rem 20px 2rem 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;

        overflow-x: scroll;
}
.Devices .Rooms:nth-child(1),
.Devices .Rooms:nth-child(2) {
    grid-column: 1 / -1;
}
.Devices .Rooms{
    width: 100%;
    height: 21rem;
    background: rgb(249, 241, 235);
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 10px -10px 30px rgba(128, 128, 128, 0.116);
    padding: 1rem 1.4rem;
    position: relative;
    margin-top: 50px;

}.Devices .first{
    margin-top: 0;
}

.Devices .Rooms .content {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 14px;
}

.Devices .Rooms .content .Groups .Groups{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: space-around;

    align-items: center;

}

.Devices .Rooms .content .Groups .room {
    width: minmax(500px,13vw);
    height: 13rem;
    background: white;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    margin-top: 20px;
    transition: .4s ease-in-out;
}

.Devices .Rooms .content .Groups .room:hover {
    transform: translateY(-10px);
}

.Devices .Rooms .content .Groups .room .img {
    position: relative;
    width: 100%;
    height: 10rem;
    background-size: cover;
    border-radius: 20px;
}

.Devices .Rooms .content .Groups .room .img img {
    width: 100%;
    height: 9rem;
    border-radius: 14px;
}

.Devices .Rooms .content .Groups .room .img .icon {
    position: absolute;
    /* inset: 0; */
    left: 10px;
    bottom: 0;
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Devices .Rooms .content .Groups .room .img .icon i {
    font-size: 20px;
}

.Devices .Rooms .content .Groups .room .info {
    padding: 20px;
}

.Devices .Rooms .content .Groups .room .info h3 {
    font-size: 14px;
}

.Devices .Rooms .content .Groups .room .info h4 {
    font-size: 12px;
    margin-top: 4px;
    color: var(--common-color);
}


@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}



/* Every we saw from minutes was something and now we will make other something big!! */



#Footer{
    width: 100%;
    height: auto;
    background: linear-gradient(45deg , rgb(20, 45, 61) , white 600%);
    margin-top: 20px;
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}#Footer *{
    color: white;
}#Footer span{
    color: rgb(255, 136, 1);
}#Footer a{
    text-decoration: underline;
}

.copy-right{
    width: 100%;
    height: auto;
    padding: 10px;
    background: rgb(5, 46, 92);
    border-radius: 5px;
}.copy-right *{
    color: white;
}


.contact {
    width: calc(100% - min(max(20vw, 18rem), 20vw));
    height: calc(95vh - 70px);
    margin-left: min(max(20vw, 18rem), 20vw);

    padding: 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form {
    width: max(500px,50%);
    height: 50vh;

    box-shadow: -10px 0 50px rgba(59, 59, 59, 0.281);

    padding: 40px;
    box-sizing: border-box;

    background: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    gap: 25px;
}.contact form h2{
    cursor: pointer;
    text-align: center;
    font-size: 3vw;
    transition: .5s ease-in-out;
}.contact form h2:hover{
    color: var(--main-color);
}.contact form div{
    display: flex;
    align-items: center;
}.contact form .username{
    margin-top: 50px;
}.contact form div label{
    font-size: 1.7vw;
    margin-right: 4px;
}.contact form div input{
    width: 15vw;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.281);
    font-weight: 700;
}.contact form .textarea{
    display: flex;
    justify-content: start;
    align-items: stretch;
}.contact form .textarea textarea{
    outline: none;
    resize: none;
    width: 70%;
    padding: 10px;
    height: 90px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
}.contact form .btn{
    width: 30%;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background: transparent;
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: var(--main-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}.contact form .btn:hover{
    color: white;
    background: var(--main-color);
}

.Automation{
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Automation h2{
    font-size: 3vw;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.Automation .Automation-card{
    width: 80%;
    background: #fafafa;
    border-radius: 17px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}.Automation .Automation-card h2{
    cursor: pointer;
    text-align: center;
    transition: .4s ease-in-out;
    font-size: 2vw;
}
.Automation .Automation-card h2:hover,
.Automation h2:hover , .Energy .Energy-info h2:hover{
    color: rgb(255, 136, 1);
}

.Automation .Automation-card img{
    border-radius: 17px;
}
.Automation .Automation-card .under{
    display: flex;
    justify-content: space-between;
}
.Automation .Automation-card .under .state{
    font-size: 1.4vw;
}.Automation .Automation-card .under .state.on{
    color: green;
}.Automation .Automation-card .under .state.off{
    color: rgb(252, 173, 4);
}

.Energy{
    width: 80%;
    height: auto;
    overflow: hidden;
}

.Energy h2{
    font-size: 3vw;
    cursor: pointer;
    transition: .4s ease-in-out;
    text-align: center;  
}.Energy h2:hover{
    color: #f39b57;
}

.Energy-info{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #f56f02;
    border-radius: 7px;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 20px #f3882f
}

.EnergyChart{
    width: 100%;
}

.Energy .Energy-info h2{
    font-size: 2vw;
    cursor: pointer;
    transition: .4s ease-in-out;
    text-align: center;
}

.Energy table{
    width: 50%;
    border: 2px solid rgb(14, 72, 128);
}.Energy table td{
    text-align: center;
    color: black;
}


/* Security System */
.Security{
    width: 80%;
    overflow-x: hidden;
    position: relative;
    height: 90vh;
}
.Security .Title{
    font-size: 3.5vw;
    margin-bottom: 50px;
    text-align: center;
    cursor: pointer;
    transition: .4s ease-in-out;
}.Security .Title:hover{
    color: #f39b57;
}

.Security .Security-Chart{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 40px;
    background: linear-gradient(45deg, rgb(135, 84, 58), white 240%);
}.Security .Security-Chart .SecurityChart{
    width: 90%;
    margin-bottom: 40px;
}.Security .Security-Chart h2{
    color: white;
    font-size: 2.4vw;
}.Security .Security-Chart .bottom{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.11);
    display: flex;
    justify-content: space-around;
    align-items: center;
}.Security .Security-Chart .bottom *{
    color: white;
}.Security .Security-Chart .bottom h3 .hack{
    color: red;
}

.Security .state{
    text-align: center;
}

.Security .Home-State{
    color: green;
}

.Security .happy-images{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 80px;
}.Security .happy-images img{
    width: 80px;
}


@keyframes dancing1 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
    }100%{
        transform: translateY(0);
    }
}

@keyframes dancing2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-17px);
    }100%{
        transform: translateY(0);
    }
}

@keyframes dancing3 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }100%{
        transform: translateY(0);
    }
}



.settings{
    width: 80%;
}

.settings img{
    width: 30%;
    border-radius: 50%;
}.settings h2{
    font-size: 3vw;
    color: var(--main-color);
    font-weight: bolder;
}.settings h4{
    font-size: 1.2vw;
}

.settings form{
    width: 50%;
    height: 35vh;
    display: flex;
    /* justify-content: space-around; */
    gap: 40px;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
    position: relative;
}

.settings form div{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings form div input{
    width: 80%;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #646b96;
    border-radius: 4px;
    font-size: 17px;
    color: black;
}

.settings form button{
    width: 10vw;
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background: transparent;
    cursor: pointer;
    transition: .5s ease-in-out;
    font-size: 17px;
    font-weight: bolder;
}.settings form button:hover{
    transform: translateY(-10px);
    background: var(--main-color);
    color: white;
}